<div class="container main-banner main-banner-section-marg">
	<div class="col-12 nopad">
		<div class="breadcrumbs-cont">
			<ol>
				<li><a href="#" class="main-page">Strona głowna</a></li>
				<li><a href="#" class="link-page">Szkolenia</a></li>
				<li><a href="#" class="link-page">Nordic Walking</a></li>
				<li><a class="currect-page">Instruktor</a></li>
			</ol>
		</div>
	</div>

	<div class="container nopad-mobile" style="margin-top: 40px">
		<div class="row">
			<div class="col-12 col-lg-6">
				<img class="main-img" src="{{ asset('build/images/img-1.png') }}"/>
			</div>

			<div class="col-12 col-lg-6 szkolenia" style="padding-bottom: 80px">
				<div class="row">
					<div class="col-12 mobile-tm-10" style="margin-bottom: 15px">
						<div class="news-card-image-tag2">Promocja</div>
						<div class="news-card-image-tag1">Instruktor</div>
					</div>

					<div class="col-12">
						<h1 class="banner-h1">{{ course.name }}</h1>
						<p class="course-short-description">
							{{ course.shortDescription }}
						</p>
					</div>

					<div class="col-12 col-lg-4 course-info">
						<div class="row">
							<div class="col-2 col-lg-2 my-auto">
								<img src="{{ asset('build/images/map-pin-2.svg') }}"/>
							</div>

							<div class="col-10 col-lg-10">
								<p>Gdzie?</p>
								<h4>Kraków</h4>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-6 course-info">
						<div class="row">
							<div class="col-2 col-lg-2 my-auto">
								<img src="{{ asset('build/images/clock-2.svg') }}"/>
							</div>

							<div class="col-10 col-lg-10">
								<p>Kiedy?</p>
								<h4>{{ startDate }}</h4>
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="row">
							<div class="col-12 col-lg-5">
								<p class="price-2 float-left">
									{{ course.price }}
									{{ course.currency.symbol }}
									{% if course.promotionalPrice %}
										<span class="price-low-2">{{ course.promotionalPrice }}
											{{ course.currency.symbol }}</span>
									{% endif %}
								</p>
							</div>

							<div class="col-12 col-lg-6 mobile-tm-10">
								<a href="#" class="primary-button-banner-2 d-flex justify-content-center">KUP SZKOLENIE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
