{% extends 'base.html.twig' %}
{% block title %}Strona główna
{% endblock %}
{%block headerBaner %}
	{% include 'training/details/headerBaner.html.twig' %}
{%
endblock %}
{% block content %}

	<div class="container" style="margin-top: 0px">
		<div class="row">
			<div class="col-12 col-lg-6 course-scroll-links">
				<a href="#">Czego sie nauczysz</a>
				<a href="#">Program szkolenia</a>
				<a href="#">Lokalizacja</a>
			</div>

			<div class="col-12 col-lg-6">
				<div class="row justify-content-lg-end">
					<div class="col-12 col-lg-4 d-flex justify-content-end">
						<p class="price">
							{{ course.price }}
							{{ course.currency.symbol }}
							{% if course.promotionalPrice %}
								<span class="price-low">{{ course.promotionalPrice }}
									{{ course.currency.symbol }}</span>
							{% endif %}
						</p>
					</div>
					<div class="col-12 col-lg-4 d-flex justify-content-end mobile-tm-10">
						<a href="#" class="secondary-button-banner">KUP SZKOLENIE</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if course.info %}
		<div class="container">
			<div class="row">
				<div class="col-12 alert-cont">
					<p>{{ course.info }}</p>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="container" style="margin-top: 45px">
		<div class="row">
			<div class="col-12 col-lg-4 score-icons d-flex justify-content-lg-center justify-content-start">
				<img src="{{ asset('build/images/podium.svg') }}"/>
				<div class="course-icons-text">
					<h4>41</h4>
					<p>Przeprowadzonych szkoleń</p>
				</div>
			</div>

			<div class="col-12 col-lg-4 score-icons d-flex justify-content-lg-center jjustify-content-start mobile-tm-10">
				<img src="{{ asset('build/images/team.svg') }}"/>
				<div class="course-icons-text">
					<h4>456</h4>
					<p>Zadowolonych uczestników</p>
				</div>
			</div>

			<div class="col-12 col-lg-4 score-icons d-flex justify-content-lg-center justify-content-start mobile-tm-10">
				<img src="{{ asset('build/images/testimony.svg') }}"/>
				<div class="course-icons-text">
					<h4>645</h4>
					<p>Przeprowadzonych szkoleń</p>
				</div>
			</div>
		</div>
	</div>

	{% if course.isLearningOutcomes() %}

		{% if course.isLearningOutcomesFirstBox() %}
			<div class="container" style="margin-top: 65px">
				<div class="row">
					<div class="col-12 col-lg-6">
						<img class="img-fluid mx-auto" src="{{ asset('build/images/Group7609.svg') }}"/>
					</div>

					<div class="col-12 col-lg-6">
						<div style="margin-top: 25px">
							{% if course.learningOutcomes['firstBox']['title'] is defined and course.learningOutcomes['firstBox']['title']|length > 0 %}
								<h2>{{ course.learningOutcomes['firstBox']['title'] }}</h2>
							{% endif %}

							{% if course.learningOutcomes['firstBox']['description'] is defined and course.learningOutcomes['firstBox']['description']|length > 0 %}
								<p>{{ course.learningOutcomes['firstBox']['description'] }}</p>
							{% endif %}

							<br/>

							{% if course.learningOutcomes['firstBox']['list'] is defined and course.learningOutcomes['firstBox']['list']|length > 0 %}
								<ul class="course-aproved-list">
									{% for item in course.learningOutcomes['firstBox']['list'] %}
										<li>{{ item }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if course.isLearningOutcomesSecondBox() %}
			<div class="container" style="margin-top: 65px">
				<div class="row">
					<div class="col-12 col-lg-6 d-flex align-items-center">
						<div style="margin-top: 25px">
							{% if course.learningOutcomes['secondBox']['title'] is defined and course.learningOutcomes['secondBox']['title']|length > 0 %}
								<h2>{{ course.learningOutcomes['secondBox']['title'] }}</h2>
							{% endif %}

							{% if course.learningOutcomes['secondBox']['description'] is defined and course.learningOutcomes['secondBox']['description']|length > 0 %}
								<p>{{ course.learningOutcomes['secondBox']['description'] }}</p>
							{% endif %}

							<br/>
						</div>
					</div>

					<div class="col-12 col-lg-6">
						<img class="img-fluid mx-auto" src="{{ asset('build/images/img-1.png') }}"/>
					</div>
				</div>
			</div>
		{% endif %}

		{% if course.learningOutcomes['info'] is defined and course.learningOutcomes['info']|length > 0 %}
			<div class="container" style="margin-top: 35px">
				<div class="row">
					<div class="col-12 alert-cont-2">
						<p>{{ course.learningOutcomes['info'] }}</p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

	{% if course.isTrainingPrograms() %}
		<div class="container mt-5">
			<div class="row">
				<div class="col-12">
					<h2>Program szkolenia</h2>
					{% if course.trainingPrograms['title'] is defined and course.trainingPrograms['title']|length > 0 %}
						<p>{{ course.trainingPrograms['title'] }}</p>
					{% endif %}
				</div>
			</div>
			<div class="row news-cards-margin course-panels">
				<div class="col-12 pb-3">
					<div class="row">
						<div class="col-12 col-lg-10 offset-lg-1">
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								{% if course.isTrainingProgramsTheoretical() %}
									<li class="nav-item" role="presentation">
										<button class="tab-button2 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home2" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
											<span class="course-tab-button-text">Część teoretyczna</span>
										</button>
									</li>
								{% endif %}
								{% if course.isTrainingProgramsPractical() %}
									<li class="nav-item" role="presentation">
										<button class="tab-button2" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
											<span class="course-tab-button-text">Część praktyczna</span>
										</button>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>


					<div class="tab-content" id="pills-tabContent">
						{% if course.isTrainingProgramsTheoretical() %}
							<div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab">
								<div class="row">
									<div class="col-12 col-lg-8 offset-lg-2">
										{% if course.trainingPrograms['theoretical']['description'] is defined and course.trainingPrograms['theoretical']['description']|length > 0 %}
											<h3>{{ course.trainingPrograms['theoretical']['description'] }}</h3>
										{% endif %}
										{% if course.trainingPrograms['theoretical']['list'] is defined and course.trainingPrograms['theoretical']['list']|length > 0 %}
											<ul class="course-aproved-list">
												{% for item in course.trainingPrograms['theoretical']['list'] %}
													<li>{{ item }}</li>
												{% endfor %}
											</ul>
										{% endif %}
									</div>
								</div>

								{% if course.trainingPrograms['theoretical']['info'] is defined and course.trainingPrograms['theoretical']['info']|length > 0 %}
									<div class="row">
										<div class="col-12 alert-cont">
											<p>{{ course.trainingPrograms['theoretical']['info'] }}</p>
										</div>
									</div>
								{% endif %}
							</div>
						{% endif %}
						{% if course.isTrainingProgramsPractical() %}
							<div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
								<div class="row">
									<div class="col-12 col-lg-8 offset-lg-2">
										{% if course.trainingPrograms['practical']['description'] is defined and course.trainingPrograms['practical']['description']|length > 0 %}
											<h3>{{ course.trainingPrograms['practical']['description'] }}</h3>
										{% endif %}
										{% if course.trainingPrograms['practical']['list'] is defined and course.trainingPrograms['practical']['list']|length > 0 %}
											<ul class="course-aproved-list">
												{% for item in course.trainingPrograms['practical']['list'] %}
													<li>{{ item }}</li>
												{% endfor %}
											</ul>
										{% endif %}
									</div>
								</div>

								{% if course.trainingPrograms['practical']['info'] is defined and course.trainingPrograms['practical']['info']|length > 0 %}
									<div class="row">
										<div class="col-12 alert-cont">
											<p>{{ course.trainingPrograms['practical']['info'] }}</p>
										</div>
									</div>
								{% endif %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	{% if course.extraDetails is defined and course.extraDetails|length > 0 %}
		<div class="container" style="margin-top: 35px">
			<div class="row">
				<div class="col-12">
					<h2>Dodatkowe informacje</h2>
				</div>
			</div>

			{% if course.extraDetails['info'] is defined and course.extraDetails['info']|length > 0 %}
				<div class="row">
					<div class="col-12 alert-cont-2">
						<p>{{ course.extraDetails['info'] }}</p>
					</div>
				</div>
			{% endif %}

			{% if course.extraDetails['list'] is defined and course.extraDetails['list']|length > 0 %}
				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2">
						<ul class="course-number-list">
							{% for item in course.extraDetails['list'] %}
								<li>{{ item }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}

		</div>
	{% endif %}

	<div class="container-fluid">
		<div class="row" style="margin-top: 35px">
			<div class="col-12 nopad">
				<img src="{{ asset('build/images/image-map-3.png') }}" class="img-fluid" style="width: 100%"/>
			</div>
		</div>
	</div>

{% endblock %}
