{% extends 'base.html.twig' %}
{% block title %}Strona główna
{% endblock %}
{%block headerBaner %}
	{% include 'training/details/headerBaner.html.twig' %}
{%
endblock %}
{% block content %}

	<div class="container" style="margin-top: 0px">
		<div class="row">
			<div class="col-12 col-lg-6 course-scroll-links">
				<a href="#">Czego sie nauczysz</a>
				<a href="#">Program szkolenia</a>
				<a href="#">Lokalizacja</a>
			</div>

			<div class="col-12 col-lg-6">
				<div class="row justify-content-lg-end">
					<div class="col-12 col-lg-4 d-flex justify-content-end">
						<p class="price">
							{{ course.price }}
							zł
							{% if course.promotionalPrice %}
								<span class="price-low">{{ course.promotionalPrice }}
									zł</span>
							{% endif %}
						</p>
					</div>
					<div class="col-12 col-lg-4 d-flex justify-content-end mobile-tm-10">
						<a href="#" class="secondary-button-banner">KUP SZKOLENIE</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 alert-cont">
				<p>
					Ze względu na wysoką jakoś szkolenia obowiązuje ograniczona
										                ilość uczestników do ~ 10 osób!
				</p>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 45px">
		<div class="row">
			<div class="col-12 col-lg-4 score-icons d-flex justify-content-lg-center justify-content-start">
				<img src="{{ asset('build/images/podium.svg') }}"/>
				<div class="course-icons-text">
					<h4>41</h4>
					<p>Przeprowadzonych szkoleń</p>
				</div>
			</div>

			<div class="col-12 col-lg-4 score-icons d-flex justify-content-lg-center jjustify-content-start mobile-tm-10">
				<img src="{{ asset('build/images/team.svg') }}"/>
				<div class="course-icons-text">
					<h4>456</h4>
					<p>Zadowolonych uczestników</p>
				</div>
			</div>

			<div class="col-12 col-lg-4 score-icons d-flex justify-content-lg-center justify-content-start mobile-tm-10">
				<img src="{{ asset('build/images/testimony.svg') }}"/>
				<div class="course-icons-text">
					<h4>645</h4>
					<p>Przeprowadzonych szkoleń</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 65px">
		<div class="row">
			<div class="col-12 col-lg-6">
				<img class="img-fluid mx-auto" src="{{ asset('build/images/Group7609.svg') }}"/>
			</div>

			<div class="col-12 col-lg-6">
				<div style="margin-top: 25px">
					<h2>Czego się nauczysz</h2>
					<p>Zaufaj profesjonalistom</p>
					<br/>
					<ul class="course-aproved-list">
						<li>
							Zostań instruktorem najdynamiczniej rozwijającej się
														                        aktywności na świecie!
						</li>
						<li>
							Kształć się pod okiem pionierów Nordic Walking w Polsce
														                        i dołącz do ponad 3500 profesjonalisów
						</li>
						<li>
							Nasze kursy są rekomendowane przez twórcę Nordic Walking
														                        - Marko Kantanevę
						</li>
						<li>
							Jedyne w Polsce zaświadczenie Ministerstwa Edukacji
														                        Narodowej!
						</li>
						<li>
							Legitymacja Instruktora z poleceniem samego twórcy-
														                        Marko Kantanevy (jako jedyna organizacja w Polsce
														                        posiadamy świadectwo jakości i akredytację World
														                        Original Nordic Walking Federation)
						</li>
						<li>
							Tylko z nami dołączysz do największej Ogólnopolskiej
														                        bazy Instruktorów www.znajdzinstruktora.pl
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 65px">
		<div class="row">
			<div class="col-12 col-lg-6 d-flex align-items-center">
				<div style="margin-top: 25px">
					<h2>Zaufaj profesjonalistom</h2>
					<p>
						Specjalistyczny Kurs Instruktorski Nordic Walking składa się
												                    z dwóch części: teoretycznej i praktycznej. Zakończony jest
												                    otrzymaniem legitymacji Instruktora Nordic Walking,
												                    nadającego uprawnienia zawodowe (zgodnie z ustawą o sporcie
												                    i rozporządzeniu Ministra Pracy i Polityki Społczenej).Kurs
												                    obejmuje pełen zakres metodyki i dydaktyki nauczania
												                    techniki Nordic Walking. Bazujemy nie tylko na ogólnych
												                    wskazaniach organizacji międzynarodowych.
					</p>
					<br/>
				</div>
			</div>

			<div class="col-12 col-lg-6">
				<img class="img-fluid mx-auto" src="{{ asset('build/images/img-1.png') }}"/>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 35px">
		<div class="row">
			<div class="col-12 alert-cont-2">
				<p>
					Umiejętności instruktarzu oraz prowadzenia ciekawych zajęć
										                Nordic Walking, bogatych w różnorodne formy treningu i zabawy z
										                kijami to w dzisiejszych czasach standardowa umiejętność
										                wymagana od pracodawców strefy wellness, placówek sportowych,
										                medycznych, szkół, prywatnych firm czy u indywidualnego klienta.
										                Instruktorzy posiadający taką wiedzę zdobytą pod okiem fachowców
										                są dużo lepiej postrzegani na rynku pracy, jak i podczas zajęć
										                prowadzonych na własną rękę.
				</p>
			</div>
		</div>
	</div>

	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<h2>Program szkolenia</h2>
				<p>Poznaj program szkolenia części praktycznej i teoretycznej</p>
			</div>
		</div>
		<div class="row news-cards-margin course-panels">
			<div class="col-12 pb-3">
				<div class="row">
					<div class="col-12 col-lg-10 offset-lg-1">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="tab-button2 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home2" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
									<span class="course-tab-button-text">Część teoretyczna</span>
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="tab-button2" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
									<span class="course-tab-button-text">Część praktyczna</span>
								</button>
							</li>
						</ul>
					</div>
				</div>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab">
						<div class="row">
							<div class="col-12 col-lg-8 offset-lg-2">
								<h3>
									Na szkoleniu w części teoretycznej omawiana jest
																		                                szczegółowo między innymi prawidłowa technika
																		                                oraz poszczególne jej elementy w odniesieniu do
																		                                jednostki motorycznej naszego ciała. Dodatkowo
																		                                poruszamy najważniejsze informacje dotyczące:
								</h3>
								<ul class="course-aproved-list">
									<li>
										Zostań instruktorem najdynamiczniej
																				                                    rozwijającej się aktywności na świecie!
									</li>
									<li>
										Kształć się pod okiem pionierów Nordic
																				                                    Walking w Polsce i dołącz do ponad 3500
																				                                    profesjonalisów
									</li>
									<li>
										Nasze kursy są rekomendowane przez twórcę
																				                                    Nordic Walking - Marko Kantanevę
									</li>
									<li>
										Jedyne w Polsce zaświadczenie Ministerstwa
																				                                    Edukacji Narodowej!
									</li>
									<li>
										Legitymacja Instruktora z poleceniem samego
																				                                    twórcy- Marko Kantanevy (jako jedyna
																				                                    organizacja w Polsce posiadamy świadectwo
																				                                    jakości i akredytację World Original Nordic
																				                                    Walking Federation)
									</li>
									<li>
										Tylko z nami dołączysz do największej
																				                                    Ogólnopolskiej bazy Instruktorów
																				                                    www.znajdzinstruktora.pl
									</li>
								</ul>
							</div>
						</div>

						<div class="row">
							<div class="col-12 alert-cont">
								<p>
									Część teoretyczna może być realizowana online
																		                                przez platformę zoom dzień lub dwa dni przed
																		                                oficjalną datą części praktycznej kursu.
								</p>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
						<div class="row">
							<div class="col-12 col-lg-8 offset-lg-2">
								<h3>
									2 Na szkoleniu w części teoretycznej omawiana
																		                                jest szczegółowo między innymi prawidłowa
																		                                technika oraz poszczególne jej elementy w
																		                                odniesieniu do jednostki motorycznej naszego
																		                                ciała. Dodatkowo poruszamy najważniejsze
																		                                informacje dotyczące:
								</h3>
								<ul class="course-aproved-list">
									<li>
										Zostań instruktorem najdynamiczniej
																				                                    rozwijającej się aktywności na świecie!
									</li>
									<li>
										Kształć się pod okiem pionierów Nordic
																				                                    Walking w Polsce i dołącz do ponad 3500
																				                                    profesjonalisów
									</li>
									<li>
										Nasze kursy są rekomendowane przez twórcę
																				                                    Nordic Walking - Marko Kantanevę
									</li>
									<li>
										Jedyne w Polsce zaświadczenie Ministerstwa
																				                                    Edukacji Narodowej!
									</li>
									<li>
										Legitymacja Instruktora z poleceniem samego
																				                                    twórcy- Marko Kantanevy (jako jedyna
																				                                    organizacja w Polsce posiadamy świadectwo
																				                                    jakości i akredytację World Original Nordic
																				                                    Walking Federation)
									</li>
									<li>
										Tylko z nami dołączysz do największej
																				                                    Ogólnopolskiej bazy Instruktorów
																				                                    www.znajdzinstruktora.pl
									</li>
								</ul>
							</div>
						</div>

						<div class="row">
							<div class="col-12 alert-cont">
								<p>
									Część teoretyczna może być realizowana online
																		                                przez platformę zoom dzień lub dwa dni przed
																		                                oficjalną datą części praktycznej kursu.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if course.extraDetails is defined and course.extraDetails|length > 0 %}
		<div class="container" style="margin-top: 35px">
			<div class="row">
				<div class="col-12">
					<h2>Dodatkowe informacje</h2>
				</div>
			</div>

			{% if course.extraDetails['info'] is defined and course.extraDetails['info']|length > 0 %}
				<div class="row">
					<div class="col-12 alert-cont-2">
						<p>{{ course.extraDetails['info'] }}</p>
					</div>
				</div>
			{% endif %}

			{% if course.extraDetails['list'] is defined and course.extraDetails['list']|length > 0 %}
				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2">
						<ul class="course-number-list">
							{% for item in course.extraDetails['list'] %}
								<li>{{ item }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}

		</div>
	{% endif %}

	<div class="container-fluid">
		<div class="row" style="margin-top: 35px">
			<div class="col-12 nopad">
				<img src="{{ asset('build/images/image-map-3.png') }}" class="img-fluid" style="width: 100%"/>
			</div>
		</div>
	</div>

{% endblock %}
