{% extends 'base.html.twig' %}
{% block title %}Partnerstwo
{% endblock %}
{%block headerBaner %}
	{% include 'hints/headerBaner.html.twig' %}
{% endblock
%}
{%block content %}


	<div class="container">
		<div class="row search-div-2">
			<div class="col-12 col-lg-9">

				<input type="TEXT" class="form-search" id="name" name="name" placeholder="Czego chcesz się dowiedzieć?">

			</div>

			<div class="col-12 col-lg-3 mobile-tm-10 nopad">
				<a href="#" class="blue-button">SZUKAJ</a>


			</div>
		</div>
	</div>

	<div class="container" style="margin-top:120px;">

		<div class="row">

			<div class="col-12 col-lg-6">
				<h2>Lista poradników</h2>
			</div>

			<div class="col-12 col-lg-3 offset-lg-3">
				<select class="option-drop-down">
					<option value="">SORTUJ PO NAJNOWSZYCH</option>
					<option value="1">SORTUJ PO NAJNOWSZYCH</option>
					<option value="2">SORTUJ PO NAJNOWSZYCH</option>
					<option value="3">SORTUJ PO NAJNOWSZYCH</option>
				</select>
			</div>

		</div>

	</div>

	<div class="container" style="margin-top:45px;">
		<div class="row">

			<div class="col-12 col-lg-3 know-icons d-flex justify-content-lg-center justify-content-start">

				<a href="#" class="know-icons-wrap">
					<img src="{{ asset('build/images/dumbbell.png') }}">
					<div class="">
						<h4>Treningi</h4>
						<p>12 poradnków</p>
					</div>
				</a>


			</div>


			<div class="col-12 col-lg-3 know-icons d-flex justify-content-lg-center jjustify-content-start mobile-tm-10">

				<a href="#" class="know-icons-wrap">
					<img src="{{ asset('build/images/strongheart.png') }}">
					<div class="">
						<h4>Dieta</h4>
						<p>12 poradnków</p>
					</div>
				</a>

			</div>

			<div class="col-12 col-lg-3 know-icons d-flex justify-content-lg-center justify-content-start mobile-tm-10">

				<a href="#" class="know-icons-wrap">
					<img src="{{ asset('build/images/mind.png') }}">
					<div class="">
						<h4>Badania naukowe</h4>
						<p>12 poradnków</p>
					</div>
				</a>

			</div>

			<div class="col-12 col-lg-3 know-icons d-flex justify-content-lg-center justify-content-start mobile-tm-10">

				<a href="#" class="know-icons-wrap">
					<img src="{{ asset('build/images/ladder.png') }}">
					<div class="">
						<h4>Ekwipunek</h4>
						<p>12 poradnków</p>
					</div>
				</a>

			</div>

		</div>
	</div>

	<div class="container">
		<div class="row">

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>

			<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 p-lf-8 tm-15">

				<div class="row nomarg">

					<div class="news-card">

						<div class="col-12 nopad">

							<div class="news-card-image-tags">

								<div class="news-card-image-tag-p">
									<img class="" src="{{ asset('build/images/h21.png') }}">
									Dieta
								</div>

							</div>

							<img class="card-img-p" src="{{ asset('build/images/img-1.png') }}">

						</div>

						<div class="col-12">

							<h3>Nordic Walking- zaawansowana ocena techniki marszu</h3>
							<p>Skoro podstawy mamy opanowane, co dalej? Czy Nordic Walking kończy się tylko na marszach...</p>

						</div>


						<div class="col-12">


							<a href="#" class="blue-button d-flex justify-content-center">POKAŻ SZCZEGÓŁY</a>

						</div>

					</div>

				</div>

			</div>


		</div>
	</div>


	<div class="container">

		<div class="row">

			<div class="col-12">

				<div class="row">

					<div class="col-12 col-lg-6 d-flex justify-content-start">
						<div class="pagination">
							Pokaż na stronie:
							<span aria-current="page" class="page-numbers current">15</span>
							<a class="page-numbers" href="#">30</a>
							<a class="page-numbers" href="#">45</a>

						</div>
					</div>

					<div class="col-12 col-lg-6 d-flex justify-content-end">
						<div class="pagination">
							<a class="prev page-numbers" href="#">« Poprzednie</a>
							<a class="page-numbers" href="#">1</a>
							<span aria-current="page" class="page-numbers current">2</span>
							<a class="page-numbers" href="#">3</a>
							<a class="page-numbers" href="#">4</a>
							<a class="next page-numbers" href="#">Następne »</a>
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}
