{% extends 'base.html.twig' %}
{% block title %}Nasza kadra
{% endblock %}
{%block headerBaner %}
	{% include 'staff/headerBaner.html.twig' %}
{% endblock
%}
{%block content %}

	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-12 col-lg-4" style="margin-bottom: 15px">
				<p>Wybierz Państwo</p>
				{%
                    include 'components/select_dropdown_with_search.html.twig'
                    with {
                        class: "training",
                        name: 'training',
                        options: {
                            '1': 'POLSKA',
                            '2': 'NIEMCY',
                            '3': 'WIELKA BRYTANIA',
                        },
                        placeholder: 'WSZYSTKIE PAŃSTWA'
                    }
                %}
			</div>

			<div class="col-12 col-lg-4" style="margin-bottom: 15px">
				<p>Wybierz miasto</p>
				{%
                    include 'components/select_dropdown_with_search.html.twig'
                    with {
                        class: "training",
                        name: 'training',
                        options: {
                            '1': 'WARSZAWA',
                            '2': 'POZNAŃ',
                            '3': 'SIEMIANOWICE ŚLĄSKIE',
                        },
                        placeholder: 'WSZYSTKIE MIASTA'
                    }
                %}
			</div>

			<div class="col-12 col-lg-4" style="margin-bottom: 15px">
				<p>Wybierz rolę osoby</p>
				{%
                    include 'components/select_dropdown_with_search.html.twig'
                    with {
                        class: "training",
                        name: 'training',
                        options: {
                            '1': 'PRZEDSTAWICIEL KRAJOWY',
                            '2': 'SZKOLENIOWIEC',
                            '3': 'SĘDZIOWIE',
                            '4': 'KOORDYNATOR',
                            '5': 'INSTRUKTOR',
                            '6': 'TRENER',
                        },
                        placeholder: 'WSZYSTKIE'
                    }
                %}
			</div>

			<div class="container" style="margin-top: 10px">
				<p>Wyszukaj osobę</p>
				<div class="row nomarg search-div-2">
					<div class="col-12 col-lg-9 nopad">
						<input type="TEXT" class="form-search" id="name" name="name" placeholder="Wpisz imię lub nazwisko osoby którą szukasz..."/>
					</div>

					<div class="col-12 col-lg-3 mobile-tm-10 nopad">
						<a href="#" class="blue-button">SZUKAJ</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-12">
				<h2>Przedstawiciele krajowi</h2>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 10px">
		<div class="row">
			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																																	                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>


			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																																	                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																																	                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="person-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content" style="padding-bottom: 15px">
				<div class="row g-0">
					<div class="col-12 d-flex justify-content-end">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-top: 15px"></button>
					</div>

					<div class="col-12 col-lg-5" style="margin-top: 15px">
						<img class="team-person-modal-img" src="{{ asset('build/images/img-1.png') }}"/>

						<div class="team-person-modal-h4" style="margin-top: 15px">
							<img src="img/phone-p.svg"/>
							<h4>+48 501 203 150</h4>
						</div>

						<div class="team-person-modal-h4">
							<img src="img/mail-p.svg"/>
							<h4>jan.kowalski@example.com</h4>
						</div>

						<div class="team-person-modal-h4">
							<img src="img/facebook-p.svg"/>
							<a href="#">MarszPoZdrowie</a>
						</div>
					</div>

					<div class="col-12 col-lg-7" style="margin-top: 15px">
						<div class="row">
							<div class="col-12">
								<button class="person-modal-button mobile-tm-10">#SĘDZIA</button>
								<button class="person-modal-button mobile-tm-10">#TRENER</button>
								<button class="person-modal-button mobile-tm-10">#INSTRUKTOR</button>
								<button class="person-modal-button mobile-tm-10">#SZKOLENIOWIEC</button>
							</div>
						</div>

						<div class="row">
							<div class="col-12 person-modal-right">
								<h2>Jan Kowalski</h2>
							</div>
						</div>

						<div class="row g-0">
							<div class="col-12 team-bottom-p p-0 person-modal-right">
								<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
								<p class="float-start team-bottom-p" style="margin-right: 15px">Polska</p>
								<p class="float-start">Poznań</p>
							</div>
						</div>

						<div class="row">
							<div class="col-12 person-modal-right">
								<h3>Drużyna:</h3>
								<p>Marsz Po Zdrowie</p>
								<h3>O mnie</h3>
								<p>
									Instruktor Szkoleniowiec Nordic Walking i
																																																																																																																																							                                Fitness Walking, Prezes Nordic Walking Polska,
																																																																																																																																							                                organizacji działającej pod patronatem twórcy
																																																																																																																																							                                Nordic Walking- Marco Kantanevy.
								</p>

								<p>
									Jego organizacja zrzesza pionierów i najbardziej
																																																																																																																																							                                doświadczonych trenerów Nordic Walking. W ciągu
																																																																																																																																							                                6 lat wyszkolili ponad 3000 Instruktorów oraz
																																																																																																																																							                                Sędziów Nordic Walking w Polsce i Europie.
																																																																																																																																							                                Organizator jednego z największych cykli zawodów
																																																																																																																																							                                w Polsce- Korona Polski- Puchar Polski
																																																																																																																																							                                organizacji NWPL, organizator Mistrzostw Świata
																																																																																																																																							                                w Nordic Walking w 2018 roku w Polsce, Mosina,
																																																																																																																																							                                twórca programów treningowych na świeżym
								</p>

								<p>
									Jego organizacja zrzesza pionierów i najbardziej
																																																																																																																																							                                doświadczonych trenerów Nordic Walking. W ciągu
																																																																																																																																							                                6 lat wyszkolili ponad 3000 Instruktorów oraz
																																																																																																																																							                                Sędziów Nordic Walking w Polsce i Europie.
																																																																																																																																							                                Organizator jednego z największych cykli zawodów
																																																																																																																																							                                w Polsce- Korona Polski- Puchar Polski
																																																																																																																																							                                organizacji NWPL, organizator Mistrzostw Świata
																																																																																																																																							                                w Nordic Walking w 2018 roku w Polsce, Mosina,
																																																																																																																																							                                twórca programów treningowych na świeżym
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-12">
				<h2>Szkoleniowcy</h2>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 10px">
		<div class="row">
			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																																	                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																																	                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																																	                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																																	                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-12">
				<h2>Sędziowie</h2>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 10px">
		<div class="row">
			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-12">
				<h2>Koordynatorzy</h2>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 10px">
		<div class="row">
			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																																								                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-12">
				<h2>Instruktorzy</h2>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 10px">
		<div class="row">
			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px">
		<div class="row">
			<div class="col-12">
				<h2>Trenerzy</h2>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 10px; margin-bottom: 50px">
		<div class="row">
			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-12 col-lg-3 pe-lg-8">
				<div class="row g-0">
					<a href="#" data-bs-toggle="modal" data-bs-target="#person-modal">
						<div class="team-person-card">
							<div class="row g-0">
								<div class="col-12 p-0">
									<img class="team-person-img" src="{{ asset('build/images/img-1.png') }}"/>
								</div>
							</div>

							<div class="col-12">
								<h3>Aleksander Zlotopolański</h3>
								<p>
									Zostań instruktorem najdynamiczniej rozwijającej
																																																															                        się aktywności na świecie.
								</p>
							</div>

							<div class="row g-0">
								<div class="col-12">
									<p class="team-card-hash">#szkoleniowiec</p>
									<p class="team-card-hash">#instruktor</p>
									<p class="team-card-hash">#trener</p>
									<p class="team-card-hash">#sedzia</p>
								</div>
							</div>

							<div class="row g-0">
								<div class="col-7 team-bottom-p">
									<img src="{{ asset('build/images/PL.svg') }}" class="team-flag"/>
									<p class="float-start team-bottom-p">Polska</p>
								</div>

								<div class="col-5 team-bottom-p">
									<p class="float-end">Poznań</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
