<div class="container-fluid footer-section">
      <div class="container" style="padding-top: 80px; padding-bottom: 80px">
        <div class="row">
          <div class="col-lg-4">
            <img src="{{ asset('build/images/Logo_onwf_color.png') }}" />
            <p>
              ONWF<br />
              ul. Mikstacka 17, 60-574 Poznań<br />
              NIP: 928 837 72 81
            </p>
          </div>

          <div class="col-12 col-lg-4">
            <div class="row footer-links">
              <div class="col-12 col-lg-6">
                <a href="#">O Nas</a>
                <a href="#">Szkolenia i kursy</a>
                <a href="#">Zawody</a>
                <a href="#">Aktualności</a>
                <a href="#">Poradniki</a>
                <a href="#">Ranking</a>
              </div>

              <div class="col-12 col-lg-6">
                <a href="#">Rejestracja</a>
                <a href="#">Panel logowania</a>
                <a href="#">Kontakt</a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <div class="row footer-newsletter mobile-tm-10">
              <div class="col-12">
                <h3>Zapisz się do naszego newslettera</h3>
                <p>Bądź na bieżąco w branży Nordic Walking</p>
              </div>

              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-lg-5">
                    <input
                      type="TEXT"
                      class="form"
                      id="name"
                      name="name"
                      placeholder="IMIĘ"
                    />
                  </div>

                  <div class="col-12 col-lg-7">
                    <input
                      type="email"
                      class="form mobile-tm-10"
                      id="email"
                      name="email"
                      placeholder="ADRES EMAIL"
                    />
                  </div>
                </div>
              </div>

              <div class="col-12" style="padding-top: 15px">
                <div class="row">
                  <div
                    class="col-12 col-lg-8 nopad-r d-flex align-items-center"
                  >
                    <div class="accept-button">
                      <span class="accept-text"
                        >Wyrażam zgodę na otrzymywanie informacji na podany
                        email adres e-mail. *</span
                      >
                      <div class="radio-div">
                        <label class="radio-in-accept">
                          <input type="checkbox" name="radio" />
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4 mobile-tm-10 text-right">
                    <button class="white-button">ZAPISZ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 65px">
          <div class="col-12 col-lg-4 footer-social-icons">
            <a href="#"><img src="{{ asset('build/images/Facebook-white.svg') }}" /></a>
            <a href="#"><img src="{{ asset('build/images/twitter-white.svg') }}" /></a>
            <a href="#"><img src="{{ asset('build/images/instagram-white.svg') }}" /></a>
            <a href="#"><img src="{{ asset('build/images/Linkedin-white.svg') }}" /></a>
            <a href="#"><img src="{{ asset('build/images/Youtube-white.svg') }}" /></a>
          </div>

          <div class="col-12 col-lg-8 down-footer-linkd mobile-tm-10">
            <a href="#">Pliki do pobrania</a>
            <a href="#">FAQ</a>
            <a href="#">Regulaminy</a>
            <a href="#">Partnerstwo</a>
            <a href="#">Pliki cookies</a>
            <a href="#">Polityka prywatności</a>
            <a href="#">Rodo - Ochrona danych osobowych</a>
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid copyright-section">
    <div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
        <p>© 2023 onwf.org | Original Nordic Walking from Finland</p>
        </div>

        <div class="col-4"></div>
    </div>
    </div>
</div>
